$table-text-color: #0C0C0C;
$border-color: #0C0C0C;

.cases {
    margin-bottom: 100px;

    h2 {
        margin-bottom: 50px;
        text-align: center;
        color: $table-text-color;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 5em;
        line-height: 80%;
        letter-spacing: -3.6px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__case {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        padding-left: 30px;
        position: relative;

        &__content {
            font-size: 1.125em;
            transition: all .5s ease-in-out;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            cursor: pointer;
            position: relative;

            p {
                text-align: justify;
                font-size: 1em;
                transition: all .5s ease-in-out;
                font-size: 0.8em;
            }

            &__numbers {
                font-size: 7em;
                font-weight: 700;
            }

            &__title {
                padding-bottom: 100px;
                opacity: 1;
                transition: all .5s ease-in-out;
                user-select: none;
            }

            &:hover {
                .cases__case__content__title {
                    transform: translateY(-180px);
                    opacity: 0;
                }
            }
        }

        &:nth-child(1):hover {
            p {
                transform: translateY(-355px);
            }
        }

        &:nth-child(2):hover {
            p {
                transform: translateY(-300px);
            }
        }

        &:nth-child(3):hover {
            p {
                transform: translateY(-355px);
            }
        }

        &::before {
            content: '';
            width: 1px;
            height: 100%;
            background-color: $border-color;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}