$table-text-color: #0C0C0C;
$border-color: #0C0C0C;

.cases {
    margin-bottom: 150px;

    h2 {
        margin-bottom: 50px;
        text-align: center;
        color: $table-text-color;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 5em;
        line-height: 80%;
        letter-spacing: -3.6px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__case {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        position: relative;
        max-height: 500px;

        &__content {
            font-size: 1.125em;
            transition: all .5s ease-in-out;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            cursor: pointer;
            position: relative;

            p {
                text-align: justify;
                font-size: 0.8em;
                transition: all .5s ease-in-out;
            }

            &__numbers {
                font-size: 7em;
                font-weight: 700;
            }

            &__title {
                padding-bottom: 100px;
                opacity: 1;
                transition: all .5s ease-in-out;
                user-select: none;
            }

            &:hover {
                .cases__case {
                    &__content__title {
                        transform: translateY(-180px);
                        opacity: 0;
                    }
                }

                p {
                    transform: translateY(-300px);
                }
            }
        }

        &::before {
            content: '';
            width: 1px;
            height: 100%;
            background-color: $border-color;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1249.98px) {}

@media screen and (max-width: 991.98px) {
    .cases {
        h2 {
            margin-bottom: 50px;
            font-size: 3em;
        }

        &__case {
            max-height: 700px;

            &__content {
                font-size: 1em;

                p {
                    font-size: 0.7em;
                }

                &__numbers {
                    font-size: 4.5em;
                }

                &__title {
                    padding-bottom: 50px;
                }

                &:hover {
                    p {
                        transform: translateY(-200px);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767.98px) {
    .cases {
        margin-bottom: 100px;
        &__wrapper{
            flex-direction: column;
            gap: 30px;
        }
        h2 {
            margin-bottom: 50px;
            font-size: 2em;
        }

        &__case {
            max-height: 700px;

            &__content {
                font-size: 1em;

                p {
                    font-size: 0.7em;
                }

                &__numbers {
                    font-size: 1.5em;
                }

                &__title {
                    font-size: 0.9em;
                    padding: 0;
                    margin-bottom: 20px;
                }

                &:hover {
                    p {
                        transform: translateY(-75px);
                    }
                }
            }
        }
    }
}

@media screen and ((min-width: 320px) and (max-width: 480.98px)),
(max-width: 319.98px) {}