$bg-color: rgba(248, 248, 248, 0.50);

.header{
    background-color: $bg-color;
    padding: 12px;
    &__wrapper{
        display: grid;
        grid-template-columns: 1fr 4fr auto;
        align-items: center;
    }
}