@media screen and (min-width: 992px) {
    .welcome {

        &__field {
            &__header {
                text-align: center;

                h2 {
                    font-size: 3em;
                }

                p {
                    font-size: 0.875em;
                }
            }

            &__body {
                &__or {
                    font-size: 0.875em;
                }

                &__inputs div {
                    label {
                        font-size: 0.75em;
                    }

                    input {
                        font-size: 0.875em;
                        &::placeholder{
                            font-size: 0.875em;
                        }
                    }
                }
            }

            &__footer {
                &__forgot {
                    font-size: 0.875em;
                }

                &__loginBtn {
                    font-size: 1em;
                }

                &__signUp {
                    font-size: 0.875em;
                }
            }
        }

        &__modal {
            &__header {
                &__text {

                    h2 {
                        font-size: 1.125em;
                    }

                    p {
                        font-size: 0.875em;
                    }
                }

                &__check {
                    span {
                        font-size: 0.875em;
                    }
                }
            }

            &__body {

                &__email {
                    label {
                        font-size: 0.875em;
                    }

                    input {
                        font-size: 1em;
                    }
                }

                &__btn {
                    font-size: 1em;
                }

                &__remember {
                    font-size: 1em;
                }

                &__again {
                    text-align: center;

                    span {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}