$cancel-btn-bg: #F8F8F8;
$cancel-btn-text: #0C0C0C;
$confirm-btn-bg: #0C0C0C;
$confirm-btn-text: #F8F8F8;

$hovered-cancel-btn-bg: #0C0C0C;
$hovered-cancel-btn-text: #F8F8F8;
$hovered-confirm-btn-bg: #F8F8F8;
$hovered-confirm-btn-text: #0C0C0C;

%black-button {
    background-color: $confirm-btn-bg;

    color: $confirm-btn-text;

    &::before {
        content: url(./../../../../assets/icons/white-tick.svg);
    }


    &:hover {
        background-color: $hovered-confirm-btn-bg;

        color: $hovered-confirm-btn-text;

        &::before {
            content: url(./../../../../assets/icons/black-tick.svg);
        }
    }
}

.chatButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;

    a {
        padding: 16px;
        max-height: 56px;
        border-radius: 12px;
        border: 1px solid $confirm-btn-bg;
        box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
        cursor: pointer;
        transition: all .3s;
        font-family: 'Fixel Text';
        font-size: 1.125em;
        font-weight: 600;
        line-height: 88.889%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    &__cancel {
        background-color: $cancel-btn-bg;
        width: 40%;

        color: $cancel-btn-text;

        &::before {
            content: url(./../../../../assets/icons/black-cross.svg);
        }


        &:hover {
            background-color: $hovered-cancel-btn-bg;

            color: $hovered-cancel-btn-text;

            &::before {
                content: url(./../../../../assets/icons/white-cross.svg);
            }
        }
    }

    &__confirm {
        @extend %black-button;
        width: 40%;
    }

    &__goTo{
        @extend %black-button;
        width: 20%;
        text-decoration: none;
    }

    &__loaderMenu {
        display: flex;
        justify-content: center;
        gap: 12px;

        &__upload {
            font-weight: 500;
            position: relative;

            span {
                position: absolute;
            }
        }
    }

    &__loader {
        width: 25px;
        height: 25px;
        display: grid;
        border-radius: 50%;
        -webkit-mask: radial-gradient(farthest-side, #0000 55%, #000 56%);
        background:
            linear-gradient(0deg, #00000080 50%, #000000FF 0) center/2px 100%,
            linear-gradient(90deg, #00000040 50%, #000000BF 0) center/100% 2px;
        background-repeat: no-repeat;
        animation: loader-rotate 1s infinite steps(8);

        &::before,
        &::after {
            content: "";
            grid-area: 1/1;
            border-radius: 50%;
            background: inherit;
            opacity: 0.84;
            transform: rotate(45deg);
        }

        &::after {
            opacity: 0.83;
            transform: rotate(90deg);
        }
    }
}

@keyframes loader-rotate {
    100% {
        transform: rotate(1turn)
    }
}

@media screen and (max-width: 992px) {
    .chatButtons {
        flex-direction: column;
        gap: 32px;

        a {
            width: 60%;
            font-size: 1em;
        }
    }
}

@media screen and (max-width: 481px) {
    .chatButtons {
        a {
            width: 100%;
        }
    }
}