$text-black-color: #0C0C0C;
$text-orange-color: #FF6314;
$border-color: #0C0C0C;
$send-bg-color: #FF6314;
$send-text-color: #FFFFFF;

$send-bg-hovered-color: #FFFFFF;
$send-text-hovered-color: #FF6314;

.form {
    text-align: center;
    padding-bottom: 160px;

    h2 {
        color: $text-black-color;
        font-family: 'Jost';
        font-size: 5em;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -2.4px;
        text-transform: uppercase;
        span{
            color: $text-orange-color;
        }
    }

    p {
        color: $text-black-color;
        text-align: center;
        font-family: 'Poppins';
        font-size: 1.25em;
        font-weight: 400;
        margin: 40px auto 80px;
        width: 45%;
        line-height: 150%;

        span {
            font-weight: 600;
        }
    }

    form {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin: 0 auto;
        font-family: 'Poppins';

        input {
            min-width: 28%;
            padding: 12px 0;
            border: none;
            border-bottom: 1px solid $border-color;
            outline: none;
        }

        button {
            display: block;
            text-align: center;
            min-width: 13%;
            border-radius: 4px;
            padding: 16px;
            transition: all .3s;
            cursor: pointer;
            font-size: 1.125em;
            font-weight: 600;
            background-color: $send-bg-color;
            border: 1px solid $send-bg-color;
            color: $send-text-color;
            padding: 16px;

            &::after {
                content: url(./../../../../assets/icons/white_arrow_right.svg);
                margin-left: 12px;
            }

            &:hover {
                background-color: $send_bg_hovered_color;
                color: $send_text_hovered_color;

                &::after {
                    content: url(./../../../../assets/icons/orange_arrow_right.svg);
                }
            }
        }
    }
}