$text-color: #0C0C0C;
$case-orange-color: #FF6314;
$case-black-color: #0C0C0C;
$line-color: #0C0C0C;
$even-list-item: #000000;

.cases {
    margin-bottom: 150px;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__title {
        color: $text-color;
        font-family: 'Jost';
        font-size: 5em;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -2.4px;
        text-transform: uppercase;
        margin-bottom: 90px;
    }

    &__case {
        display: flex;
        gap: 70px;
        margin: 0 0 10px;

        &__image {
            width: 60%;

            img {
                width: 100%;
            }
        }

        &__description {
            margin-top: 17px;
            width: 36%;

            &__title {
                font-size: 4em;
                font-family: 'Jost';
                font-weight: 400;
                line-height: 110%;
                letter-spacing: -1.92px;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                margin-bottom: 50px;

                &__orange {
                    color: $case-orange-color;
                }

                &__black {
                    color: $case-black-color;
                }
            }

            &__list {
                display: flex;
                flex-direction: column;
                gap: 56px;

                li {
                    color: $text-color;
                    font-family: 'Poppins';
                    font-size: 1em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    width: 60%;
                    position: relative;

                    .line {
                        height: 10px;
                        display: flex;
                        align-items: center;
                        position: absolute;
                        width: 75%;
                        top: 50%;

                        height: 1px;
                        background-image: linear-gradient(90deg, $line-color, $line-color 50%, $line-color 50%, $line-color 30%, transparent 50%);
                        background-size: 20px 1px;

                        &::after,
                        &::before {
                            content: '';
                            display: block;
                            width: 7px;
                            height: 7px;
                            border-radius: 50%;
                            border: 1px $line-color solid;
                            background-color: $line-color;
                            position: absolute;
                        }

                        &::after {
                            right: 0;
                        }

                        &::before {
                            left: 0;
                        }
                    }
                }
            }
        }
    }

    &__odd {
        flex-direction: row;

        &__description {

            &__title {
                &__orange {
                    align-self: flex-start;
                }

                &__black {
                    align-self: flex-end;
                }
            }

            &__list li {
                .line {
                    right: 100%;
                    margin-right: 19px;
                }
            }
        }
    }

    &__even {
        flex-direction: row-reverse;
        justify-content: space-between;

        &__description {

            &__title {
                &__orange {
                    align-self: flex-end;
                }

                &__black {
                    align-self: flex-start;
                }
            }

            &__list li {
                width: 95%;

                &::before {
                    content: '';
                    display: block;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    border: 1px solid $even-list-item;
                    position: absolute;
                    top: 5px;
                    right: 100%;
                    margin-right: 13px;
                }

                .line {
                    left: 100%;
                    margin-left: 19px;
                    width: 55%;
                }
            }
        }
    }
}