$text-color: #0C0C0C;
$underline-color: #0C0C0C;

.howItWorks {
    margin-bottom: 200px;

    h2 {
        margin: 0 80px 50px 0;
        text-align: right;
        color: $text-color;
        text-align: right;
        font-family: 'Poppins';
        font-size: 4em;
        font-weight: 600;
        line-height: 125%;
        letter-spacing: -1.92px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 56px;

        &__item {
            display: flex;
            gap: 80px;
            width: calc(100% - 162px);
            position: relative;
            color: $text-color;
            font-family: 'Poppins';
            line-height: 150%;
            margin-left: 80px;

            &__number {
                font-size: 1.5em;
                font-weight: 400;
                width: 1%;
            }

            &__info {
                h3 {
                    font-size: 2.5em;
                    font-weight: 500;
                }

                p {
                    font-size: 1.25em;
                    width: 53%;
                    margin: 32px 0 56px;

                    span {
                        font-weight: 600;
                    }
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    width: 93%;
                    height: 1px;
                    background-color: $underline-color;
                }
            }
        }

        :last-child div::after {
            display: none;
        }
    }
}