$bg-color: #F8F8F8;
$hover-bg-color: #c8c5c5;
$text-color: #0C0C0C;

.messageInput__button{
    background-color: $bg-color;
    border-radius: 0 12px 12px 0;
    border: none;
    width: 5%;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        background-color: $hover-bg-color;
    }
}