$demo_text_color: #FFFFFF;
$demo_bg_color: #0C0C0C;
$learn_text_color: #0C0C0C;
$learn_border_color: #0C0C0C;
$learn_bg_color: #FFFFFF;

$demo_text_hovered_color: #0C0C0C;
$demo_bg_hovered_color: #FFFFFF;
$learn_text_hovered_color: #FFFFFF;
$learn_bg_hovered_color: #0C0C0C;

.intro {
    margin: 66px auto 358px;
    text-align: center;

    &__personalized {
        margin-bottom: 44px;

        p {
            font-size: 1.25em;
        }
    }

    h1 {
        font-family: 'Poppins';
        font-size: 5em;
        font-weight: 500;
        line-height: 90%;
        letter-spacing: -2.4px;
        width: 80%;
        margin: 0 auto 100px;
    }

    &__buttons {
        display: flex;
        gap: 24px;
        justify-content: center;

        button {
            cursor: pointer;
            min-width: 13%;
            border-radius: 12px;
            padding: 16px;
            transition: all .3s;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Poppins';
                font-size: 1.125em;
                font-weight: 600;
                line-height: 88.889%;
            }
        }

        &__demo {
            background-color: $demo_bg_color;
            border: 1px solid $demo_bg_color;

            span {
                color: $demo_text_color;

                &::after {
                    content: url(./../../../../assets/icons/white_arrow_right.svg);
                    margin-left: 12px;
                }
            }

            &:hover {
                background-color: $demo_bg_hovered_color;

                span {
                    color: $demo_text_hovered_color;

                    &::after {
                        content: url(./../../../../assets/icons/black_arrow_right.svg);
                    }
                }

            }
        }

        &__learn {
            background-color: $learn_bg_color;
            border: 1px solid $learn_border_color;

            span {
                color: $learn_text_color;
            }

            &:hover {
                background-color: $learn_bg_hovered_color;

                span {
                    color: $learn_text_hovered_color;
                }
            }
        }
    }
}