$text-color: #0C0C0C;
$bot-border-color: #716F76;
$bot-chat-window-bg: #F8F8F8;
$person-border-color: #E2E8F0;
$person-chat-window-bg: rgba(255, 255, 255, 0.53);

.asideChatMessage {
    color: $text-color;
    font-family: 'Poppins';
    font-size: 1em;
    line-height: 120%;
    border-radius: 12px;
    padding: 22px;
    margin: 22px 0;
    word-wrap: break-word;
}

.botMessage {
    &::before {
        content: url(./../../../../../assets/icons/ai_avatar.svg);
    }
    border: 1px solid $bot-border-color;
    background-color: $bot-chat-window-bg;
}

.personMessage {
    border: 1px solid $person-border-color;
    background-color: $person-chat-window-bg;
}
