$text-color: #0C0C0C;

.header__links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    a {
        font-family: 'Poppins';
        color: $text-color;
        font-size: 1em;
        font-weight: 500;
        line-height: 150%;    
        text-decoration: none;
    }
}