$text-color: #0C0C0C;

.header__links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;

    a {
        font-family: 'Fixel Text';
        color: $text-color;
        font-size: 1em;
        font-weight: 500;
        line-height: 150%;
        text-decoration: none;
    }
}

@media (max-width: 991.98px) {
    .header__links ul {
        flex-direction: column;
        font-size: 1.5em;
    }
}

@media screen and ((min-width: 320px) and (max-width: 480.98px)),
(max-width: 319.98px) {
    .header__links ul {
        font-size: 1em;
    }
}