$black-color: #0C0C0C;
$orange-color: #FF6314;

.mission{
    margin-bottom: 200px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            display: flex;
            flex-direction: column;
            color: $black-color;
            font-family: 'Fixel Text';
            font-size: 5em;
            font-weight: 400;
            line-height: 110%;
            letter-spacing: -2.4px;
            text-transform: uppercase;
            width: 33%;
            margin: 24px 0 60px;
            span{
                color: $orange-color;
            }
            span:last-child{
                align-self: flex-end;
            }
        }
    }

    &__description{
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        font-size: 1.25em;
        p{
            font-family: 'Fixel Text';
            span{
                color: $orange-color;
                text-transform: uppercase;
            }
        }
    }
}