.mission {
    margin-bottom: 200px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

        h2 {
            font-size: 4em;
            font-weight: 600;
            line-height: 125%;
            letter-spacing: -1.92px;
        }

        p {
            width: 80%;
            font-size: 1em;
        }
    }
}

@media screen and (max-width: 991.98px) {
    .mission {
        margin-bottom: 150px;

        &__wrapper {

            h2 {
                font-size: 3em;
            }

            p {
                font-size: 0.7em;
            }
        }
    }
}

@media screen and (max-width: 767px) {}

@media screen and ((max-width: 476px)) {}