$bg-color: #F8F8F8;
$text-color: #0C0C0C;
$border-color: #716F76;
$red-color: #FF6969;

.chatTable {
    background-color: $bg-color;
    font-family: 'Fixel Text';
    color: $text-color;
    text-align: left;
    width: 100%;
    padding: 0 16px;
    margin-top: 20px;
    border-radius: 15px;
    border: 1px black solid;

    colgroup {
        col:nth-child(1) {
            width: 20%;
        }

        col:nth-child(2) {
            width: 58%;
        }

        col:nth-child(3) {
            width: 20%;
        }

        col:nth-child(4) {
            width: 7%;
        }
    }

    thead,
    tbody tr:not(:last-child) {
        position: relative;
        
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $border-color;
        }
    }

    thead {
        font-size: 1.4em;
        font-weight: 700;
        line-height: 114.286%;
    }

    tbody {
       
        justify-content: center;
        font-size: 0.75em;
        line-height: 133.333%;
    }

    tr {
        height: 64px;
        background: none;
        button {
            border: none;
            background: none;
            cursor: pointer;
        }
    }
}

.blockRow {
    cursor: pointer;
}

.subRow {
    background-color: $bg-color;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.subRow.animate {
    max-height: 500px; /* Max height after animation */
    opacity: 1;
}

.subRow td {
    padding-left: 32px; 
}/* Indent for subitems */
@media screen and (max-width: 992px) {
    .chatTable {
        overflow: hidden;

        colgroup {

            col:nth-child(1),
            col:nth-child(2),
            col:nth-child(3),
            col:nth-child(4) {
                width: 100%;
            }
        }

        thead,
        tbody tr:not(:last-child) {
            position: relative;

            &::after {
                width: 100%;
            }
        }

        thead {
            tr {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        tbody {
            tr {
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: transform 0.3s ease-in-out;

                td {
                    flex: 0 0 36%;
                    transition: all .3s;

                    &:nth-child(3) {
                        text-align: center;
                        margin-left: 15px;
                    }

                    &:last-child img {
                        width: 50px;
                        height: 64px;
                        margin-top: 5px;
                        padding: 10px;
                        background-color: $red-color;
                    }
                }

                &.activeRow td {
                    transform: translateX(-57%);
                }
            }
        }

        .hideableColumn button img {
            content: url('./../../../../assets/icons/trash_can_white.svg');
        }
    }
}

@media screen and (max-width: 767px) {
    .chatTable tbody tr {
        &.activeRow td {
            transform: translateX(-70%);
        }
    }
}

@media (max-width: 481px) {
    .chatTable tbody tr {
        &.activeRow td {
            transform: translateX(-100%);
        }
    }
}