$bg-color: #F8F8F8;
$black-color: #0C0C0C;
$border-color: #716F76;

.chatTable {
    background-color: $bg-color;
    font-family: 'Fixel Text';
    color: $black-color;
    text-align: left;
    width: 100%;
    margin-top: 20px;
    border-radius: 15px;

    &__header {
        display: flex;
        font-size: 1.4em;
        font-weight: 700;
        line-height: 114.286%;
        padding: 16px;

        p:nth-child(1) {
            width: 20%;
        }

        p:nth-child(2) {
            width: 60%;
        }

        p:nth-child(3) {
            width: 20%;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;

        &__row {
            border-top: 1px $black-color solid;

            &__content {
                display: flex;
                align-items: center;
                padding: 24px 16px;
                cursor: pointer;

                p span {
                    display: block;
                    width: 70%;
                }

                p:nth-child(1) {
                    width: 20%;
                }

                p:nth-child(2) {
                    width: 60%;
                }

                p:nth-child(3) {
                    width: 15%;
                }

                span {
                    display: block;
                    width: 5%;
                }
            }

            &__arrow {
                transition: transform .3s;

                &__closed {
                    transform: rotate(-90deg);
                }

                &__open {
                    transform: rotate(0deg);
                }
            }

            &__accordion {
                max-height: 0;
                overflow: hidden;
                will-change: max-height;
                transform-origin: top;
                transition: max-height 1s ease;

                &__subrow {
                    display: flex;
                    padding: 24px 16px 24px 48px;
                    border-top: 1px $black-color solid;
                    font-size: 0.875em;

                    p:nth-child(1) {
                        width: 20%;
                    }

                    p:nth-child(2) {
                        width: 60%;
                    }
                }
            }

            &.open &__accordion {
                transition: max-height 1s ease;
                max-height: 1000px;
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .chatTable {

        &__body {

            &__row {

                &__content {
                    display: flex;
                    align-items: center;
                    padding: 24px 16px;
                    cursor: pointer;

                    p span {
                        font-size: 0.875em;
                    }
                }

                &__accordion {

                    &__subrow {
                        font-size: 0.75em;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 992px) {
    .chatTable {}
}

@media screen and (max-width: 767px) {
    .chatTable {

        &__header {
            padding: 12px;
            font-size: 1em;

            p:nth-child(1) {
                width: 10%;
            }

            p:nth-child(2) {
                width: 60%;
            }

            p:nth-child(3) {
                width: 30%;
            }
        }

        &__body {

            &__row {

                &__content {
                    padding: 12px;

                    p span{
                        font-size: 0.75em;
                    }

                    p:nth-child(1) {
                        width: 10%;
                    }

                    p:nth-child(2) {
                        width: 60%;
                    }

                    p:nth-child(3) {
                        width: 28%;
                    }

                    span {
                        width: 2%;
                    }
                }

                &__accordion {

                    &__subrow {
                        padding: 12px;
                        border-top: 1px $black-color solid;
                        font-size: 0.75em;

                        p:nth-child(1) {
                            width: 20%;
                        }

                        p:nth-child(2) {
                            width: 60%;
                        }
                    }
                }

                &.open &__accordion {
                    transition: max-height 1s ease;
                    max-height: 1000px;
                }
            }
        }
    }
}

@media (max-width: 481px) {
    .chatTable {}
}