$bg-color: #F8F8F8;
$input-color: #FFFFFF;
$aside-btn-bg-color: #0C0C0C;

.asideChat {
    display: flex;
    flex-direction:column;
    background-color: $bg-color;
    grid-column: 3;
    grid-row: 1 / 3;
    position: fixed;
    right: 0;
    left: 79%;
    border-radius: 12px 0 0 12px;
    transition: all .3s ease-in;
}