$black-color: #000000;
$purple-color: #6147FF;

.courseBar {
    width: 100%;
    &__topic{
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 22px 8px 22px 30px;
        border-bottom: 2px $black-color solid;
        transition: all .3s;
        cursor: pointer;
    }
    .active{
        color: $purple-color;
    }
}