$black-color: #000000;
$purple-color: #6147FF;
$grey-color: #686868;

.courseBar {
    width: 100%;
    overflow-y: auto;
    &__topic{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        padding: 22px 8px 22px 30px;
        border-bottom: 2px $black-color solid;
        cursor: pointer;
        &__left{
            display: flex;
            align-items: flex-start;
            gap: 8px;
            &__info{
                display: flex;
                flex-direction: column;
                span:last-child{
                    font-size: 0.75em;
                    color: $grey-color;
                }
            }
        }
    }
    &__subtopic{
        display: flex;
        gap: 12px;
        padding: 22px 8px 22px 30px;
        cursor: pointer;
        transition: all .3s;
        &:last-child{
            border-bottom: 2px $black-color solid;
        }
    }
    .active{
        color: $purple-color;
    }
    &__arrow {
        transition: transform .3s;

        &__closed {
            transform: rotate(-90deg);
        }

        &__open {
            transform: rotate(0deg);
        }
    }
}

@media screen and (max-width: 991.98px) {
    .courseBar {
        display: none;
    }
}